<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js"></script>
</head>
<body>
    <div class="main_content">
        {{>header}}
        <img src="/img/my.jpg" alt="" width="380px" height="380px">
        This site was created by Yeyint Thway. It uses data from mapbox and openweathermap.
    </div>
    {{>footer}}
</body>
</html>