<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <div class="main_content">
        {{>header}}
        <p>Use this site to find weather forecast</p>

        <form action="" class="weather_form">
            <input type="text" placeholder="location">
            <button>search</button>

            <p id="message1"></p>
            <p id="message2"></p>
        </form>
    </div>




    {{>footer}}
    <script src="js/script.js"></script>
</body>
</html>